{% extends 'base.html.twig' %}

{% block title %}Mes adresses
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Mes adresses</h1>
		<h3>Gestion de mes adresses:</h3>
		<a href="{{ path('account_add_address') }}">Ajoutez une adresse</a>
		<br>
		<a href="{{ path('app_account') }}">Retour</a>
		{% if app.user.addresses|length ==0 %}
			Vous n'avez pas encore enregistré d'adresse. Pour ce faire,
			<a href="{{ path('account_add_address') }}">cliquez ici</a>
		{% else %}
			{% for row in app.user.addresses|batch(3) %}
				<div class="row col-12 justify-content-center">
					{% for address in row %}
						<div class="card col-md-4 m-1">
							<div class="card-body">
								<h5 class="card-title">{{address.name}}</h5>
								<h6 class="card-subtitle mb-2 text-muted">{{address.firstname}}{{address.lastname}}</h6>
								<p class="card-text">{{address.address}}</p>
								<p>
									<a href="{{ path('account_edit_address', {'id': address.id }) }}" class="card-link">Modifier</a>
									<a href="{{ path('account_delete_address', {'id': address.id }) }}" class="card-link">Supprimer</a>
								</p>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		{% endif %}
		<p class="h4 mt-5 text-center">
			<a href="{{ path('homepage') }}" class="btn btn-bgc1-tny mt-3">Retour au site</a>
		</p>
	</div>

{% endblock %}
