{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<div class="row">
			<h1 class="my-5">Mon compte</h1>
			<a href="{{ path('app_account') }}">Retour</a>
			<div class="col-md-6 mx-auto text-center">

				<img src="{{app.user.gravatarUrl(500) }}" alt="Avatar" class="shadow rounded mb-5">
				<h2>{{app.user.FullName}}</h2>
				<p class="lead">
					<a href="mailto:{{app.user.Email}}">{{app.user.Email}}</a>
				</p>
				<p>
					<small>
						Compte crée le
						{{app.user.createdAt|date('d/m/y')}}
					</small>
				</p>
				<p>
					<a href="{{path('app_edit_account')}}">Modifier le compte</a>
					|
					<a href="{{path('app_change_password')}}">Changer le mot de passe</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
