{% extends 'base.html.twig' %}

{% block title %}Connexion !
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="mb-3 text-center mt-5">Connectez vous !</h1>
			<p class="mb-3 text-center mt-5 text-muted">Cela vous permettra de passer commande et de vous faire livrer a l'adresse désirée.</p>
			<form method="post">
				{% if error %}
					<div class="alert alert-error rounded mb-3" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}<div class="mb-3">Vous êtes connecté en tant que{{ app.user.username }},<a href="{{ path('app_logout') }}">Déconnexion</a></div>{% endif %}
				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
				</div>
				<div class="form-group">
					<label for="Password">Mot de passe</label>
					<input type="password" name="password" id="Password" class="form-control" required>
				</div>
				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="d-flex justify-content-between">
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me">
							<label class="form-check-label" for="remember_me">Souvenez vous de moi</label>
						</div>
					</div>
					<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
				</div>
				<button class="btn btn-lg btn-primary w-100" type="submit">Connexion</button>
				<p class="mt-5 mb-3 text-center text-muted">Pas encore enregistré ?
					<a href="{{path('app_register')}}">Crée un compte</a>
				</p>
				{% if is_granted('ROLE_ADMIN') %}
				{% endif %}
			</form>
		</div>
	</div>
{% endblock %}
