			<ul class="menu mt-1">
					<li class="menu-inline-item">
						&copy; {{'now'|date('Y') }} Koikeu
					</li>
				{% if app.user %}
					<li class="menu-inline-item">
						<a class="menu-link" href=" {{ path('app_account')}} ">{{ app.user.FullName }}</a>
					</li>
					<li class="menu-inline-item">
						<a class="menu-link" href="{{path('admin')}}"><i class="fas fa-tools"></i></a>
					</li>
					<form id="js-logout-form" action=" {{path('app_logout')}} " method="POST" style="display: none;">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
					</form>
				{% else %}
					<li class="menu-inline-item">
						<a class="menu-link" href="{{path('app_login')}}"><i class="fas fa-leaf"></i></a>
					</li>
				{% endif %}
			</ul>

{# {{ source('images/box-label-solid.svg') }}  #}
