{{ form_start(form) }}
<div class="row">
	<div class="col-md-6">{{ form_row(form.firstName) }}</div>
	<div class="col-md-6">{{ form_row(form.lastName) }}</div>
</div>
{{ form_rest(form) }}
{# <button class="btn btn btn-outline-secondary m-2">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}
