{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<h1>Contact</h1>
{{ form_start(form) }}
    <div class="contact-content">
        {{ form_row(form.Email) }}
        {{ form_row(form.Sujet) }}
        {{ form_row(form.Prenom) }}
        {{ form_row(form.Nom) }}
        {{ form_row(form.Phone) }}
        {{ form_row(form.Message) }}
    </div>
{{ form_end(form) }}

{% endblock %}
