<h1>Mail en provenance de KOIKEU.fr</h1>

<p>De : {{ mail }}</p>

<p>Sujet : {{ sujet }}</p>
<p>Prenom : {{ prenom }}</p>
<p>Nom : {{ nom }}</p>
<p>Téléphone : {{ phone }}</p>
<p>Interéssé par : {{ produit }}</p>

<p>Message : {{ message|raw }}</p>
