{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<h1>Contact</h1>
{{ form_start(form) }}
    <div class="contact-content">

        {# {% set var = form.Produit.vars.value %} #}

        {% if form.Produit.vars.value %}
            {{ form_row(form.Produit) }}
        {% endif %}

        <div class="row">
            <div class="col-md-6">{{ form_row(form.Prenom) }}</div>
            <div class="col-md-6">{{ form_row(form.Nom) }}</div>
            <div class="col-md-6">{{ form_row(form.Phone) }}</div>
            <div class="col-md-6">{{ form_row(form.Email) }}</div>
        </div>
        {{ form_row(form.Sujet) }}
        {{ form_row(form.Message) }}
        <div class="d-flex justify-content-center">
            {{ form_row(form.Envoyer) }}
        </div>
    </div>

{{ form_end(form, {'render_rest': false}) }}

{% endblock %}
