{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<h1>Contact</h1>
{{ form_start(form) }}
{# {{ dump(app.request.attributes) }} #}
    <div class="contact-content">
        <div class="row">
            <div class="col-md-6">{{ form_row(form.Prenom) }}</div>
            <div class="col-md-6">{{ form_row(form.Nom) }}</div>
            <div class="col-md-6">{{ form_row(form.Phone) }}</div>
            <div class="col-md-6">{{ form_row(form.Email) }}</div>
        </div>
        {{ form_row(form.Sujet) }}
        {{ form_row(form.Message) }}
    </div>
{{ form_end(form) }}

{% endblock %}
