{% extends 'base.html.twig' %}

{% block title %}Paiement de commande
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Mon récapitulatif</h1>
		Verification de votre commande avant paiement.
		<hr>
		<div class="row">
			<div class="col-md-6">
				<strong>
					Adresse de livraison :</strong><br>
				{{ delivery|replace({'[br]' : '<br/>'})|raw }}
				<hr>
				<strong>Transporteur :
					{{ carrier.name }}</strong><br>
				<small>
					{{ carrier.description }}
				</small>
			</div>
			<div class="col-md-6">
				<div class="col-form-label">Récapitulatif de la commande</div>
				<div class="order-summary">
					{% set total = null %}
					{% for key,item in cart %}
						<div class="row {% if key > 0 %}mt-2{% endif %} ">
							<div class="col-2">
								<img src="{{ (item.produit.imageName ? vich_uploader_asset(item.produit) : asset('build/images/placeholder.jpg')) | imagine_filter('square_thumbnail_mini') }}">
							</div>
							<div class="col-8 my-auto mt-2">
								{{ item.produit.name }}
							</div>
							<div class="col-2 my-auto mt-2">
								<small>
									x
									{{ item.quantity }}
								</small>
							</div>
							<div class="col-6 my-auto">{{ ((item.produit.price * item.quantity) / 100)|number_format(2, ',', '.') }}
								€</div>
						</div>
						{% set total = total + (item.produit.price * item.quantity) %}
					{% endfor %}
				</div>
				<hr>
				<strong>Sous total :
					{{ (total / 100)|number_format(2, ',', '.') }}
					€</strong><br>
				<strong>Livraison :
					{{ (carrier.price / 100)|number_format(2, ',', '.') }}
					€</strong><br>
				<hr>
				<strong>Total :
					{{ ((total+ carrier.price) / 100 )|number_format(2, ',', '.') }}
					€
				</strong>
				<a href="{{ path('commande') }}" class="btn btn-success w-100 mt-2">Payer
					{{ ((total+ carrier.price) / 100 )|number_format(2, ',', '.') }}
					€</a>
			</div>
		</div>
	</div>
{% endblock %}
