{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    {% if categories|length > 0 %}
        {% for row in categories|batch(3) %}
            <div class="row mb-5">
                {% for category in row %}
                    <div class="col-md-4"> 
                        <article class="product-card">
                            <div class="product-image">
                                <a href=" {{ path('app_produits_by_category', {category: category.name}) }} "><img src="{{ (category.imageName ? vich_uploader_asset(category) : asset('build/images/placeholder.jpg')) | imagine_filter('square_thumbnail_medium') }}" alt="{{ category.name }}"/></a>
                            </div>
                            <div class="product-info">
                                <h2><a href="{{ path('app_produits_by_category', {category: category.name}) }}">{{ category.name }}</a></h2>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p class="h1 mt-5 text-align:center">Pas encore de categorie</p>
        <p class="h4 mt-5 text-center"><a href={{ path ('category_create') }}>Créez la 1ere.</a></p>
    {% endif %}
{% endblock %}